name: Ruby

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}, Rails ${{ matrix.rails }}

    strategy:
      fail-fast: false
      matrix:
        rails: ['8.1.1', 'edge']

    env:
      RAILS_ENV: test
      DATABASE_URL: postgresql://ubuntu:ubuntu@localhost:5432
      RAILS_VERSION: ${{ matrix.rails }}

    services:
      postgres:
        image: ghcr.io/seuros/postgis-with-extensions:17-4
        env:
          POSTGRES_PASSWORD: ubuntu
          POSTGRES_USER: ubuntu
          POSTGRES_DB: active_record_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v4

    - name: Install GEOS library
      run: |
        sudo apt-get update
        sudo apt-get install -y libgeos-dev

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true

    - name: Setup databases
      run: |
        bin/rails app:db:create
        bin/rails app:db:migrate
        bin/rails app:db:create:secondary
        bin/rails app:db:migrate:secondary

    - name: Run tests
      run: bin/rails test
